
.wy-side-nav-search {
    background-color: rgb(104, 96, 107);
}

.wy-nav-top {
    background-color: rgb(104, 96, 107);
}

.wy-menu-vertical p.caption span.caption-text {
    color: rgb(227, 164, 239);
}
